@tailwind base;
@tailwind components;
@tailwind utilities;

.Header {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .Header::-webkit-scrollbar {
    display: none;
}